gunicorn==21.2.0
Flask==2.3.3
flask-cors==4.0.0
python-dotenv==1.0.1
requests==2.31.0
gspread==6.0.0
openpyxl==3.1.2
Werkzeug==3.0.1
pandas
psycopg2
werkzeug.security
tabulate
pytz==2024.1
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-api-python-client==2.126.0